<div class="container">
  <div class="search-bar">
    <mat-form-field appearance="outline">
      <mat-label>Search Voters</mat-label>
      <input matInput placeholder="Enter a name or registration number" (input)="applyFilter($event)">
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- First Name Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> First Name </th>
      <td mat-cell *matCellDef="let voter"> {{voter.firstName}} </td>
    </ng-container>

    <!-- Father Name Column -->
    <ng-container matColumnDef="fatherName">
      <th mat-header-cell *matHeaderCellDef> Father Name </th>
      <td mat-cell *matCellDef="let voter"> {{voter.fatherName}} </td>
    </ng-container>

    <!-- Mother Name Column -->
    <ng-container matColumnDef="motherName">
      <th mat-header-cell *matHeaderCellDef> Mother Name </th>
      <td mat-cell *matCellDef="let voter"> {{voter.motherName}} </td>
    </ng-container>

    <!-- Last Name Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> Last Name </th>
      <td mat-cell *matCellDef="let voter"> {{voter.lastName}} </td>
    </ng-container>

    <!-- Gender Column -->
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef> Gender </th>
      <td mat-cell *matCellDef="let voter"> {{voter.gender}} </td>
    </ng-container>

    <!-- Birth Date Column -->
    <ng-container matColumnDef="birthDate">
      <th mat-header-cell *matHeaderCellDef> Birth Date </th>
      <td mat-cell *matCellDef="let voter"> {{voter.birthDate | date:'shortDate'}} </td>
    </ng-container>

    <!-- Registration Number Column -->
    <ng-container matColumnDef="registrationNumber">
      <th mat-header-cell *matHeaderCellDef> Registration Number </th>
      <td mat-cell *matCellDef="let voter"> {{voter.registrationNumber}} </td>
    </ng-container>

    <!-- Address Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> Address </th>
      <td mat-cell *matCellDef="let voter"> {{voter.address}} </td>
    </ng-container>

    <!-- Has Voted Column -->
    <ng-container matColumnDef="hasVoted">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Has Voted </th>
      <td mat-cell *matCellDef="let voter"> {{voter.hasVoted ? 'Yes' : 'No'}} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let voter">
        <button mat-button color="primary" (click)="markAsVoted(voter)" [disabled]="voter.hasVoted" matTooltip="Mark this voter as having voted">
          <mat-icon>check_circle</mat-icon> Mark as Voted
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
